# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


Env/.gradle/*
Env/.settings/*
Env/bin/*
Env/build/*
Env/eclipse/*
Env/gradle/*
Env/Mods_src/*
Env/gradlew
Env/.project
Env/build.gradle
Env/forge-1.7.10-10.13.4.1558-1.7.10-changelog.txt
Env/CREDITS-fml.txt
Env/build.bat
Env/.classpath
Env/gradlew.bat
Env/LICENSE-fml.txt
Env/MinecraftForge-Credits.txt
Env/MinecraftForge-License.txt
Env/README.txt
Env/.metadata/*
Env/forge-1.7.10-10.13.4.1558-1.7.10-src.zip
Env/libs/industrialcraft-2-2.2.823-experimental-dev.jar
Env/dfg.bat
Env/gradle.properties
Env/local.properties
